[package]
name = "game"
version = "0.1.0"
edition = "2024"

[dependencies]
bevy = { workspace = true, features = ["png"] }
serde = { workspace = true }
serde_json = { workspace = true }
anyhow = { workspace = true }
world = { path = "../../crates/world" }
